.navbar{
    display: flex;
    justify-content: space-between;
}
#indexTitle{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#indexP {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
.footer{
    margin-top: 20px;
}

h1{
	letter-spacing: 2px;
}
#userWelcome{
    padding-top: 10px;
    text-decoration: underline;
}

#logo{
    color: black;
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(245,245,245,0.9);
    background-color: rgba(245,245,245,0.9);
    margin-bottom: 10px;
}