.navbar{
    display: flex;
    justify-content: space-between;
}
#indexTitle{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#indexP {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: -60px;
}
#indexPic{
    background-image: url('../images/background-index-page.jpg');
}
.footer{
    margin-top: 20px;
}

#userWelcome{
    padding-top: 10px;
    text-decoration: underline;
}
#logo{
    color: black;
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(245,245,245,0.9);
    background-color: rgba(245,245,245,0.9);
    margin-bottom: 10px;
}