.navbar{
    display: flex;
    justify-content: space-between;
}
#indexTitle{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#indexP {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
.footer{
    margin-top: 20px;
}