
.carousel-inner{
    max-height: 200px !important;
}
.imageTest {
   height: 100%;
}
body{
    background-image: url('/images/background-for-yelppal.jpg');
    background-size: 100% 100%;
}
div.container{
    border-width: thick;
    background-color:  rgba(245,245,245,0.8);
}
h5{
    font-size: 60px;
    color: black;
}

#avatar {
	display: inline;
	width:100px;
	height:100px;
}